body {
	background-color: #EEEEFF;
	font-size: 120%;
}

#passwordResetPage h1 {
	font-size: 200%;
	background-color: #FFEEFF;
	width: 70%;
	text-align: center;
}

#passwordResetPage.div {
	font-size: 150%;
	background-color: #FFEEEE;
}

#passwordResetPage input {
	font-size: 250%;
}

#passwordResetPage button {
	font-size: 150%;
}
